.campo-texto{
  margin: 24px 0;
}

.campo-texto label{
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.campo-texto input{
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0,0,0,.6);
  box-sizing: border-box;
  font-size: 24px;
  padding: 24px;
  width: 100%;
}